body {
  text-align: center;
  background: #092514;

  display: flex;
  justify-content: center; 
  align-items: center;     
  height: 100vh;           
  margin: 0;               
}

.container {
  background: #5c0404;
  width: 250px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #333;
  align-content: center;
  justify-content: center;

}

#resultado {
    background: #ffffff;  
    height: 200px;
    font-size: 15px;      
}

h1 {
  color: #ffffff;
  font-size: 30px;
}
input {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  width: 165px;
}
label {
  color: #ffffff;
  font-size: 20px;
}